{% extends "common/dark_base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-0">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">My Account</li>
    <li class="breadcrumb-item active">Change Password</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
{% from "common/form_macros.html" import render_field, render_submit_field %}
<div class="card">
  <form action="" method="POST" class="form" role="form">
    <div class="card-header">
      <strong>Change Password</strong>
    </div>
    <div class="card-body">
      {{ change_password_form.hidden_tag() }}
      <div class="mb-3">
        <label for="password" class="form-label">Old Password</label>
        <input class="form-control" id="password" name="password" tabindex="10" type="password" value="">
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input class="form-control" id="new_password" name="new_password" tabindex="20" type="password" value="">
      </div>
      <div class="mb-3">
        <label for="new_password_confirm" class="form-label">Confirm New Password</label>
        <input class="form-control" id="new_password_confirm" name="new_password_confirm" tabindex="30" type="password" value="">
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      <button type="reset" class="btn btn-sm btn-danger">Reset</button>
    </div>
  </form>
</div>
{% endblock %}
