{% extends "common/page_base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form action="" method="POST" novalidate formnovalidate class="form" role="form">
            {{ forgot_password_form.hidden_tag() }}
            <h1>Forgot Password?</h1>
            <p class="text-body-secondary">We'll send you a reminder.</p>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-user"></use></svg>
              </span>
              <input class="form-control" id="email" name="email" tabindex="210" type="text" value="" placeholder="Your email address">
            </div>
            <button type="submit" class="btn btn-success w-100">Reset Password</button>
          </form>
        </div>
        <div class="card-footer p-4">
          <div class="row">
            <div class="col-12">
              <a href="{{ url_for('security.login') }}">Back to Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
