{% extends "common/page_base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group d-block d-md-flex row">
        <div class="card col-md-7 p-4 mb-0">
          <div class="card-body">
            <form action="" method="POST" class="form" role="form">
              <input id="next" name="next" type="hidden" value="/">
              {{ login_user_form.hidden_tag() }}
              {# Flash messages #}
              {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                  {% if messages %}
                    {% for category, message in messages %}
                      {% if category == 'error' %}{% set category = 'danger' %}{% endif %}
                      <p class="text-danger">{{ message|safe }}</p>
                    {% endfor %}
                  {% endif %}
                {%- endwith %}
              {% endblock %}
              <h1>Login</h1>
              <p class="text-body-secondary">Sign In to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-user"></use></svg>
                </span>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-lock-locked"></use></svg>
                </span>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="row">
                <div class="col-6">
                  <input type="submit" class="btn btn-primary" value="Sign in">
                </div>
                <div class="col-6 text-end">
                  <a href="{{ url_for('security.forgot_password') }}">Forgot password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card col-md-5 text-white bg-primary py-5">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>Create a new account to get started.</p>
              <a href="{{ url_for('security.register') }}" class="btn btn-light mt-3">Register Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
