{% extends "common/page_base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form action="" method="POST" novalidate formnovalidate class="form" role="form">
            {{ register_user_form.hidden_tag() }}
            <h1>Register</h1>
            <p class="text-body-secondary">Create your account</p>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-user"></use></svg>
              </span>
              <input class="form-control" id="full_name" name="full_name" tabindex="240" type="text" value="" placeholder="Your full name">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">@</span>
              <input class="form-control" id="email" name="email" tabindex="210" type="text" value="" placeholder="Your email address">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-lock-locked"></use></svg>
              </span>
              <input class="form-control" id="password" name="password" tabindex="260" type="password" value="" placeholder="Enter a password">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">
                <svg class="icon"><use href="{{ url_for('static', filename='icons/free.svg') }}#cil-lock-locked"></use></svg>
              </span>
              <input class="form-control" id="password_confirm" name="password_confirm" tabindex="270" type="password" value="" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-success w-100">Create Account</button>
          </form>
        </div>
        <div class="card-footer p-4">
          <div class="row">
            <div class="col-12">
              Already have an account?
              <a href="{{ url_for('security.login') }}">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
