<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FlaskDash</title>

    <!-- Vendors styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/simplebar.css') }}">
    <!-- Main styles -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>
  </head>
  <body class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
    {% block body %}
    {% block pre_content %}{% endblock %}
    {% block content %}{% endblock %}
    {% block post_content %}{% endblock %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/coreui.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplebar.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
